.img-carousel{

    width:513px;
    height:400px;
}
.carousel-container button{
    border: none;
    background: none;
    cursor: pointer;
}

.fotos{
    padding: 25px 5px;
}

.informacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 350px;
    font-size: 15px;
}

.informacao p{
    margin: 0 0 0 15px;

}
