/* Utils */
.bkg-btn {
    background: #CCC;
}

/* Container section */
.container-controller {

    height: 125px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    position: absolute;
    top: 150px;
    right: 100px;
    background: white;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

/* Nav controller section */
.nav-controller {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
}

.center-button {
    display: block;
    height: 38%;
    width: 38%;
    position: absolute;
    top: 28%;
    left: 28%;
    border-radius: 50%;
    background-color: #CCC;
    border: 1px solid white;
    background-image: url('../images/controller/home.svg');
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.button {
    display: flex;
    width: 46%;
    height: 46%;
    margin: 1px;
    position: relative;
    float: left;
    justify-content: center;
    align-items: center;
}

.button.top {
    border-radius: 100% 0 0 0;
}

.button.top::after {
    bottom: 0;
    right: 0;
    -webkit-transform: skew(-3deg, -3deg) scale(0.96);
    -moz-transform: skew(-3deg, -3deg) scale(0.96);
    transform: skew(-3deg, -3deg) scale(0.96);
}

.button.right {
    border-radius: 0 100% 0 0;
}

.button.right::after {
    bottom: 0;
    left: 0;
    -webkit-transform: skew(3deg, 3deg) scale(0.96);
    -moz-transform: skew(3deg, 3deg) scale(0.96);
    transform: skew(3deg, 3deg) scale(0.96);
}

.button.left {
    border-radius: 0 0 0 100%;
}

.button.left::after {
    top: 0;
    right: 0;
    -webkit-transform: skew(3deg, 3deg) scale(0.96);
    -moz-transform: skew(3deg, 3deg) scale(0.96);
    transform: skew(3deg, 3deg) scale(0.96);
}

.button.bottom {
    border-radius: 0 0 100% 0;
}

.button.bottom::after {
    top: 0;
    left: 0;
    -webkit-transform: skew(-3deg, -3deg) scale(0.96);
    -moz-transform: skew(-3deg, -3deg) scale(0.96);
    transform: skew(-3deg, -3deg) scale(0.96);
}

.button img {
    height: 14px;
    width: 10px;
    transform: rotate(315deg);
}

/* Buttons zooms section */

.btn-zoom {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.zoom-in {
    height: 30px;
    width: 25px;
    background-color: #CCC;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

.search {
    height: 35px;
    width: 25px;
    background-color: #CCC;
}

.zoom-out {
    height: 30px;
    width: 25px;
    background-color: #CCC;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}