html, body, #map {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: auto;
    z-index: 500;
    position: fixed;
}

header img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

header h1
{
    font-size: 20px;
}

#margem-esquerda
{
    margin-left: 15px;
}
.btn_group {
    /* box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); */
    border: none;
    background: none;
    background-color: none;
    cursor: pointer;
    transition: 0.2s all;
    margin-left: 5px;
}


.btn_group:active {
    transform: scale(0.88);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#map
{
    z-index: 1;
}
#div_layer_controll
{
    position: absolute;
    margin-left: 470px;
}


select {
    border:none;
    padding:5px;
  }

#bt_ativar_desativar_mapa
{
  padding: 8px 12px;
  border-radius:5px;
  background:white;
  margin-right:15px;
  border: 1px solid #333;
}
.container_filtro_keyboard {
    position: relative;
    z-index: 500;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 12px;
}

.containerFiltro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 5;
    width: 100%;
    background: none;
    position: relative;
  }

  .filtro{
    width: 400px;
    height: 18px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    flex-grow: initial;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  }

.img-popup{
    width: 150px;
    height: 150px;
}

.botao_link{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.style_button{
    border-radius:5px;
    background:white;
    margin-right:5px;
    border: 1px solid #333;
    margin-bottom: 2px;
}

.container_cent_zoom{
    display: flex;
}

.container_zoom {
    display: flex;
    flex-direction: column;
}

.control-layers_personalizado {
    position: absolute;
    display: none;
    margin-left: 700px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    background: #fff;
    border-radius: 5px;
    padding: 7px;
    z-index: 800;
    overflow-y: scroll;
    max-width: 300px;
    max-height: 500px;
}

.container_buton_personalizado {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 36px;
	height: 36px;
    margin-left: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    background: #fff;
    border-radius: 5px;
    z-index: 800;
    cursor: pointer;
}

.image_buton_personalizado {
    background-image: url('../css/Leaflet/images/layers.png');
    background-size: 26px 26px;
    /* background-color: black; */
    width: 26px;
    height: 26px;
    z-index: 800;
    display: block;
    position: relative;
    background-repeat: no-repeat;

}

.container-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 2px;
}

.container-input-span {
    align-items: center;
}


@media only screen and (max-width: 480px) {
    .leaflet-control-minimap {
      display: none;
    }
    .container_buton_personalizado{
        display: none;
    }
    .containerFiltro{
        width: 90%;
    }
    .containerFiltro input{
        height: 30px;
    }

  }
