html, body, #map {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header
{
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

header h1
{
    font-size: 20px;
}

#margem-esquerda
{
    margin-left: 15px;
}
.btn_group {


    /* padding: 12px 40px; */
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: 0.2s all;
}
/* Adding transformation when the button is active */

.btn_group:active {
    transform: scale(0.88);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

#map
{
    z-index: 1;
}
#div_layer_controll
{
    margin-top: 250px;
    /* border-radius:0; */
    /* margin-right: 0; */

}

header img
{
    margin: 0;
    padding: 0;
    height: 100%;
}
select {
    border:none;
    padding:5px;
  }

#bt_ativar_desativar_mapa
{
  padding: 8px 12px;
  border-radius:5px;
  background:white;
  margin-right:15px;
  border: 1px solid #333;
}
.container_filtro_keyboard {
    position: absolute;
    top: 100px;
    z-index: 2;
    width: 100%;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerFiltro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 2;
    width: 100%;
    background: none;
  }

  .filtro{
    width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
  }

.img-popup{
    width: 150px;
    height: 150px;
}

.botao_link{
    background: none;
    border: none;
    cursor: pointer;

}
.style_button{
    border-radius:5px;
    background:white;
    margin-right:5px;
    border: 1px solid #333;
    margin-bottom: 2px;
}

.container_cent_zoom{
    display: flex;
}

.container_zoom {
    display: flex;
    flex-direction: column;
}